* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-somoothing: grayscale;
    box-sizing: border-box;
    /* borda a borda faz o calculo do tamanho da caixa evitando o scroll na tela */
}

body {
    text-align: center;
    padding-top: 160px;
    background-image: url(./img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}


h1 {
    color: #FFC700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
}

h3 {
    font-size: 16px;
    line-height: 19px;
    color: white;
}

h3 span {
    color: #FFC700;
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: white;
    opacity: 0.7;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 72px;
    color: white;
    opacity: .6;
}

a:hover,
.btn-play-now {
    text-decoration: none;
    color: black;
    background-color: #FFC700;
    opacity: 1;
}