* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-somoothing: grayscale;
    box-sizing: border-box;
    /* borda a borda faz o calculo do tamanho da caixa evitando o scroll na tela */
}

body {
    padding-top: 200px;
    text-align: center;
    background-image: url(/HTML-CSS/img/background-image\ \(1\).png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Cinzel',sans-serif;
}

h1 {
    font-family: 'Cinzel',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    color: #151718  ;

}

p {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: #2C2E2F;
    opacity: .9;
}

h1 span {
    color: #DB2777;
}

a{
    padding: 16px 32px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    text-decoration: none;
    color: #151718;
}

a:hover,
.btn-travel-now{
    background-color:#DB2777;
    color: white;
    border-radius: 80px;
}